.accent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.accent img {
    width: 12rem;
    height: 12rem;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
}

.loginContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    box-sizing: border-box;
}

.loginContent {
    display: flex;
    align-items: center;
}

.loginContainer form {
    width: 360px; 
}

.avatar {
    width: 90px;
    height: 90px; 
    display: block;
    margin: auto
}

.loginTitle {
    margin: 15px 0;
    text-align: center;
    font-weight: 500;
}

.loginField {
    margin: 25px 0;
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
}

.loginField.first {
    margin-top: 10;
}

@media screen and (max-width: 992px){
	.loginContainer {
		grid-gap: 2rem;
	}
}

@media screen and (max-width: 768px){
	.loginContainer {
		grid-template-columns: 1fr;
	}

	.accent {
		display: none;
	}

	.loginContent {
		justify-content: center;
	}
}