.loginContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    box-sizing: border-box;
}

.loginContent {
    display: flex;
    align-items: center;
    width: 360px;
}

.avatar {
    width: 90px;
    height: 90px; 
    display: block;
    margin: auto
}

.loginTitle {
    margin: 15px 0 !important;
    text-align: center;
    font-weight: 500 !important;
}

.loginField {
    margin: 25px 0!important;
    width: 20rem;
    display: flex;
    align-items: flex-end;
}

.loginField.first {
    margin-top: 10 !important;
}