.loginContainer {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.loginCard {
    max-width: 600px;
    min-width: 40vh;
    margin: auto;
    padding-block: 2rem;
}

.loginField {
    margin-top: 10px !important;
}

.loginCardContent {
    padding-bottom: 5px !important;
}

.loginButton {
    background-color: lightgray !important;
    color: black !important;
    width: 100%;
}

.loginActions {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.loginTitle {
    width: 150px;
    margin-left: auto !important;
    margin-right: auto !important;
}