.customerContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.customerIcon {
    width: 13vw;
    margin-left: auto;
    margin-right: auto;
}

.customerData {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.customerDataCard {
    margin-bottom: 40px;
}

.cardTitle {
    margin-top: 4px;
    margin-left: 10px;
}

.cardContent {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 94%
}

.dataField {
    display: block;
    margin-bottom: 20px;
}

.saveButton {
    background-color: lightgray;
    margin-left: 25%;
    margin-top: -20px;
    color: black;
}