.tradingTitle {
    text-align: center;
    padding-bottom: 5px;
}

.tradingContent {
    margin-left: 20px;
}

.amountField {
    width: 10vw;
    display: inline;
    margin-left: 20px;
}

.amount {
    display: flex;
    margin-top: 40px;
}

.amountLabel {
    display: inline;
    margin-top: 15px;
}

.tradingActions {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.tradingButton {
    width: 35%;
    display: flex;
}